# Copyright 2025 Changkun Ou. All rights reserved.
# Use of this source code is governed by a MIT
# license that can be found in the LICENSE file.

version: '3'

services:
  ideas:
    restart: always
    image: ideas:latest
    deploy:
      replicas: 1
    environment:
      IDEAS_ADDR: ideas:80
      IDEAS_TOKEN: ${IDEAS_TOKEN}
      ANTHROPIC_API_KEY: ${ANTHROPIC_API_KEY}
      IDEAS_BLOG_PATH: /blog
    volumes:
      - .:/blog
      - ~/.ssh:/root/.ssh:ro
    networks:
      - traefik_proxy
networks:
  traefik_proxy:
    external: true
