# Copyright 2025 Changkun Ou. All rights reserved.
# Use of this source code is governed by a MIT
# license that can be found in the LICENSE file.

version: '3'

services:
  ideas:
    restart: always
    image: ideas:latest
    deploy:
      replicas: 1
    env_file:
      - .env
    environment:
      IDEAS_ADDR: ideas:80
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - traefik_proxy
networks:
  traefik_proxy:
    external: true
